# data
# images/*
__pycache__/*
.ipynb_checkpoints/*
data/*

# vscode
.DS_Store
*.DS_Store

# R
*.RData
*/.RData
*.Rproj
*/.Rpro
*.Rproj.user
*/.Rproj.user
*.Rhistory
*/.Rhistory
.Rproj.user
*.csv

# c
*.pyc

deprecated/

.html
*.html

.pickle
*.pickle

*.parquet
*.png

.pkl
*.pkl

#*.png

statGraph/
*.tar.gz

notebooks/runs/*
*.gif
src/logit_graph.egg-info/*